<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Učionica |</a>
    <a class="navbar-brand" href="#2">Sala za sastanke desna |</a>
    <a class="navbar-brand" href="#3">Sala za sastanke leva |</a>
    <a class="navbar-brand" href="#4">Amfiteatar |</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-2 mb-lg-0">

        {% if user.is_authenticated %}

        <li class="nav-item  me-2">
          <div class="navbar-text text-light">Korisnik <strong><i>{{ user.username }}</i></strong> ({{ user.first_name }} {{ user.last_name }}) |</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %} ">Logout</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        {% endif %}

      </ul>

    </div>
  </div>
</nav>
