{% extends "base.html" %}
{% block title %}Rezervuši{% endblock %}

{% block content %}

{% if messages %}

{% for message in messages %}
<!--<h1 class="alert alert-danger" style="color: red;">{{ message }}</h1>-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert alert-danger" style="color: red;">{{ message }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  var myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
  myModal.show()
</script>
{% endfor %}

{% endif %}


<h1 class=" display-6 mt-5">Rezervacija prostorije "{{ room.name }}"</h1>
<br />
<form action="" method="post" class="row g-4">
  {% csrf_token %}
  <div class="col-md-4">
    {{ form.start_time.label_tag }}
    {{ form.start_time }}
  </div>
  <div class="col-md-4">
    {{ form.end_time.label_tag }}
    {{ form.end_time }}
  </div>
  <div class="col-md-6">
    {{ form.organizer_name }}
  </div>
  <div class="col-md-6">
    {{ form.purpose }}
  </div>
  <div class="col-md-6">
    {{ form.expected_participants }}
  </div>
  <div class="col-md-6">
    {{ form.napomena }}
  </div>

  {% if edit_mode %}
  <button type="submit" class="btn btn-success">Promeni</button>
  {% else %}
  <button type="submit" class="btn btn-success">Rezerviši</button>
  {% endif %}
</form>

{% endblock %}
